
<!DOCTYPE html>
<html>
<title>Gigdigger</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card-2">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    {% if request.user.is_authenticated %}
    <a href="/performer/detail/" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MY PROFILE</a>
    {% else %}
    <a href="/performer/login/" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOG IN</a>
    
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">SIGNUP <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/performer/venue_signup/" class="w3-bar-item w3-button">VENUE SIGNUP</a>
         <a href="/performer/performer_signup/" class="w3-bar-item w3-button">PERFORMER SIGNUP</a>
      </div>
    </div>
    {% endif %}

    <a href="performer/events/all" class="w3-bar-item w3-button w3-padding-large w3-hide-small">EVENTS</a>
    
<a href="/#" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">GIG DIGGER <img width="30" height="30" src = "https://img.clipartfest.com/806a796bb5563a4653dc2d6982a571ce_shovel-clipart-image-snow-shovel-clipart_652-655.png" /> </a>
    {% if request.user.is_authenticated %}
    <a href="/performer/detail/" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right	">{{ user.first_name|upper }}</a>
    {% endif %}
  </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:50px">

  <div class="w3-container w3-content w3-center w3-padding-32" style="max-width:800px" id="band">
   <h2 class="w3-wide">GigDigger</h2>
    <p class="w3-opacity"><i>We connect Venues with talented aspiring Performers</i></p>

{% load i18n %}

{% block body %}

    <form action="" method="post">{% csrf_token %}
        <div>
            {% if form.errors %}
                <p class="errornote">
                    {% if form.errors.items|length == 1 %}
                        {% trans "Please correct the error below." %}
                    {% else %}
                        {% trans "Please correct the errors below." %}
                    {% endif %}
                </p>
            {% endif %}


            <p>{% trans "Login to our site." %}</p>

            <fieldset>

                <p>
                    {{ form.username.errors }}
                    <label for="id_username" class="required">
                        {% trans 'Username' %}:
                    </label>
                    {{ form.username }}
                </p>

                <p>
                    {{ form.password.errors }}
                    <label for="id_password" class="required">
                        {% trans 'Password' %}:
                    </label>
                    {{ form.password }}
                </p>

            </fieldset>

            <p class="w3-opacity">
                <input type="submit" value="{% trans 'Log In' %}"/> 
            </p>

            <hr/>
            <p class="w3-opacity"><a href="{% url 'password_reset' %}">{% trans 'Forgot your password?' %}</a></p>

            <script type="text/javascript">document.getElementById("id_username").focus();</script>
        </div>
    </form>

{% endblock %}

  </div>

</body>
</html>
