<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<title>Gigdigger</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/performer/templates/listing/style_list.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card-2">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>


    <a href="{% url 'venue_update' %}" class="w3-bar-item w3-button w3-padding-large">UPDATE PROFILE</a>
<a href="{% url 'listing_new' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CREATE LISTING</a>
<a href="{% url 'my_listing' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MY LISTINGS</a>
<a href="{% url 'event_my' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MY EVENTS</a>
    <a href="{% url 'performer_logout' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOG OUT</a>
    <a href="{% url 'listing_all' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">GIG DIGGER <img width="30" height="30" src = "https://img.clipartfest.com/806a796bb5563a4653dc2d6982a571ce_shovel-clipart-image-snow-shovel-clipart_652-655.png" /> </a>

    {% if request.user.is_authenticated %}
    <a href="/performer/detail/" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right	">{{ user.first_name|upper }}</a>
    {% endif %}

  </div>
</div>


<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:50px">

  <div class="w3-container w3-content w3-center w3-padding-32" style="max-width:1000px" id="band">
    <h2 class="w3-wide">GigDigger</h2>
    <p class="w3-opacity"><i>We connect Venues with talented aspiring Performers</i></p>
    <!-- <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>Name</p>
        <img src="/w3images/bandmember.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Name</p>
        <img src="/w3images/bandmember.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Name</p>
        <img src="/w3images/bandmember.jpg" class="w3-round" alt="Random Name" style="width:60%">
      </div>
    </div> -->
<div style="margin-top:40px">
<div style="border: 1px solid #c0c0c0; margin: 0 2px; padding: .35em .625em .75em;">
</br>
<h2 class="w3-opacity" >All My Listings</h2>
</br>
</br>
{% block body %}
<div class="row">

      {% for p_l in liked_performers.all %}
        <div class="col-sm-4">
            <div class="thumbnail" style="height:400px">
                <img class="group list-group-image" style="max-height:160px" src="{{ p_l.photo }}" alt="" />
                <div class="w3-opacity;    word-wrap: break-word;   width: 100px;">
                    <h4 >
                        Name: {{ p_l.first_name }} {{ p_l.last_name }}</h4>
			<a 
				    class="btn btn-info" 
				    href="/performer/profile/{{p_l.username}}">
				    View Profile
				</a>
		    <p >
                        location: {{ p_l.location }}</p>
                    <div>
                                <p >
                        Contact: {{ p_l.email }}</p>
                    <div >
			<hr>
                            <a 
				    class="btn btn-info" 
				    href="{{ p_l.username }}/">
				    Finalize
				</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  {% endfor %}
</div>
{% endblock %}

  </div>
</div>

<!--

Well sometimes I go out by myself
And I look across the water
And I think of all the things, what you're doing
And in my head I paint a picture

Since I've come on home,
Well my body's been a mess
And I've missed your ginger hair
And the way you like to dress
Won't you come on over
Stop making a fool out of me
Why don't you come on over, Valerie?

Valerie [3x]

Did you have to go to jail,
Put your house on up for sale, did you get a good lawyer?
I hope you didn't catch a tan,
I hope you find the right man who'll fix it for ya
Are you shopping anywhere,
Changed the color of your hair, are you busy?
And did you have to pay that fine
That you were dodging all the time, are you still dizzy?

Since I've come on home,
Well my body's been a mess
And I've missed your ginger hair
And the way you like to dress
Won't you come on over?
Stop making a fool out of me
Why don't you come on over, Valerie?

Valerie [3x]

Well sometimes I go out by myself
And I look across the water
And I think of all the things, what you're doing
And in my head I paint a picture

Since I've come on home,
Well my body's been a mess
And I've missed your ginger hair
And the way you like to dress
Won't you come on over?
Stop making a fool out of me
Why don't you come on over, Valerie?

Valerie [7x]

Why don't you come on over, Valerie? 

-->

</body>
</html>

