



<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<title>Gigdigger</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/performer/templates/listing/style_list.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card-2">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>

    <a href="{% url 'performer_update' %}" class="w3-bar-item w3-button w3-padding-large">UPDATE PROFILE</a>
    <a href="{% url 'listing_all' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">VIEW LISTINGS</a>
    <a href="{% url 'performer_logout' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOG OUT</a>
    <a href="/#" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">GIG DIGGER <img width="30" height="30" src = "https://img.clipartfest.com/806a796bb5563a4653dc2d6982a571ce_shovel-clipart-image-snow-shovel-clipart_652-655.png" /> </a>
    {% if request.user.is_authenticated %}
    <a href="/performer/detail/" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right	">{{ user.first_name|upper }}</a>
    {% endif %}

  </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:50px">

  <div class="w3-container w3-content w3-center w3-padding-32" style="max-width:1000px" id="band">
    <h2 class="w3-wide">GigDigger</h2>
    <p class="w3-opacity"><i>We connect Venues with talented aspiring Performers</i></p>
    <!-- <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>Name</p>
        <img src="/w3images/bandmember.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Name</p>
        <img src="/w3images/bandmember.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Name</p>
        <img src="/w3images/bandmember.jpg" class="w3-round" alt="Random Name" style="width:60%">
      </div>
    </div> -->

<div style="border: 1px solid #c0c0c0; margin: 0 2px; padding: .35em .625em .75em;">
<h2 class="w3-opacity" >Welcome Performer!</h2>
</br>
<p class="w3-opacity" >All Available Listings</p>
</br>
</br>
{% block body %}
<div class="row">

      {% for listing in listings %}
        <div class="col-sm-4"  >
            <div class="thumbnail" style="height:600px">
                <img class="group list-group-image" src="{{ listing.listing_venue.photo }}" alt="" />
                <div class="w3-opacity;    word-wrap: break-word;   width: 100px;">
                    <h4 >
                        Subject: {{ listing.subject }}</h4>
                    <p >
                        Message: {{ listing.message.message|truncatechars:25 }}</p>
		    <p >
                        Contact: {{ listing.contact }}</p>
		    <p >
                        Venue-id: {{ listing.listing_venue.username }}</p>
		    <p >
                        date-time: {{ listing.ldatetime }}</p>
                    <div>
                                <p>Listing-Id: {{ listing.listing_id }}</p>
                        <div >
			{% if user not in listing.performers_liked.all %}
                            <a 
				    class="btn btn-info" 
				    href="listing_like/{{ listing.listing_id }}">
				    Apply
				</a>
			{% else %}
				<p
				    class="btn btn-info" 
				    >
				    Appied
				</p>
			{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
  {% endfor %}
</div>
{% endblock %}




  </div>

<!--

Suitcase in my hand
Jack is in his corset, and jane is her vest,
And me Im in a rocknroll band hah!
Ridin in a stutz bear cat, jim
You know, those were different times!
Oh, all the poets they studied rules of verse
And those ladies, they rolled their eyes

Sweet jane! whoa! sweet jane, oh-oh-a! sweet jane!

Ill tell you something
Jack, he is a banker
And jane, she is a clerk
Both of them save their monies, ha
And when, when they come home from work
Oh, sittin down by the fire, oh!
The radio does play
The classical music there, jim
The march of the wooden soldiers
All you protest kids
You can hear jack say, get ready, ah

Sweet jane! come on baby! sweet jane! oh-oh-a! sweet jane!

Some people, they like to go out dancing
And other peoples, they have to work, just watch me now!
And theres even some evil mothers
Well theyre gonna tell you that everything is just dirt
Yknow that, women, never really faint
And that villains always blink their eyes, woo!
And that, yknow, children are the only ones who blush!
And that, life is just to die!
And, everyone who ever had a heart
They wouldnt turn around and break it
And anyone who ever played a part
Oh wouldnt turn around and hate it!

Sweet jane! whoa-oh-oh! sweet jane! sweet jane!

Heavenly wine and roses
Seems to whisper to her when he smiles
Heavenly wine and roses
Seems to whisper to her when she smiles
La lala lala la, la lala lala la
Sweet jane
Sweet jane
Sweet jane

-->

</body>
</html>

