



<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<title>Gigdigger</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/performer/templates/listing/style_list.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card-2">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>


    <a href="{% url 'venue_update' %}" class="w3-bar-item w3-button w3-padding-large">UPDATE PROFILE</a>
<a href="{% url 'listing_new' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CREATE LISTING</a>
<a href="{% url 'my_listing' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MY LISTINGS</a>
<a href="{% url 'event_my' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MY EVENTS</a>
    <a href="{% url 'performer_logout' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOG OUT</a>
    <a href="{% url 'listing_all' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">GIG DIGGER <img width="30" height="30" src = "https://img.clipartfest.com/806a796bb5563a4653dc2d6982a571ce_shovel-clipart-image-snow-shovel-clipart_652-655.png" /> </a>

    {% if request.user.is_authenticated or user.is_authenticated %}
    <a href="/performer/detail/" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right	">{{ user.first_name|upper }}</a>
    {% endif %}

  </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:50px">

  <div class="w3-container w3-content w3-center w3-padding-32" style="max-width:1000px" id="band">
    <h2 class="w3-wide">GigDigger</h2>
    <p class="w3-opacity"><i>We connect Venues with talented aspiring Performers</i></p>
    <!-- <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>Name</p>
        <img src="/w3images/bandmember.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Name</p>
        <img src="/w3images/bandmember.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Name</p>
        <img src="/w3images/bandmember.jpg" class="w3-round" alt="Random Name" style="width:60%">
      </div>
    </div> -->

<div style="border: 1px solid #c0c0c0; margin: 0 2px; padding: .35em .625em .75em;">
<p class="w3-opacity" >All Finalized Events</p>
</br>
</br>
{% block body %}
<div class="row">

      {% for listing in listings %}
        <div class="col-sm-4" >
            <div class="thumbnail" style="height:600px">
                <img class="group list-group-image" src="{{ listing.listing_venue.photo }}" alt="" />
                <div class="w3-opacity;    word-wrap: break-word;   width: 100px;">
                    <h4 >
                        Subject: {{ listing.subject }}</h4>
                    <p >
                        Message: {{ listing.message|truncatechars:25 }}</p>
		    <p >
                        Contact: {{ listing.contact }}</p>
		    <p >
                        Venue-id: {{ listing.listing_venue.username }}</p>
		    <p >
                        Date-time: {{ listing.ldatetime }}</p>
                    <div>
                                <p>Listing-Id: {{ listing.listing_id }}</p>
                        <div >
			
		    <p >
                        Performer: {{ listing.final_performer.first_name }} {{ listing.final_performer.last_name }}</p>
		    
		    <a 
				    class="btn btn-info" 
				    href="/performer/profile/{{listing.final_performer.username}}">
				    View Performer
				</a>

			<br> <br>
			    {% if request.user.is_authenticated or user.is_authenticated%}
		   <a 
				    class="btn btn-info" 
				    href="/performer/listing/remove/{{listing.listing_id}}">
				    Delete Event
				</a>
			{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
  {% endfor %}
</div>
{% endblock %}




  </div>

<!--

Babe, baby, baby, I'm Gonna Leave You.
I said baby, you know I'm gonna leave you.
I'll leave you in the summertime,
Leave you when the summer comes a-rollin'
Leave you when the summer comes along.

Babe, babe, babe, babe, babe, babe,
Baby, baby, I wanna leave you.
I ain't jokin' woman, I got to ramble.
Oh, yeah, baby, baby, I believin',
We really got to ramble.
I can hear it callin' me the way it used to do,
I can hear it callin' me back home!

Babe, oh, babe... I'm gonna leave you
Oh, baby, you know, I've really got to leave you
Oh, I can hear it callin 'me
I said don't you hear it callin' me the way it used to do? Ooooh

I know, I know, I know I never, never, never, never, never gonna leave you, babe
But I got to go away from this place,
I've got to quit you, yeah
Ooh, baby, baby, baby, baby, baby, baby, baby, ooh, don't you hear it callin' me?
Oh, woman, woman, I know, I know
It feels good to have you back again
And I know that one day, baby, it's gonna really grow, yes it is.
We gonna go walkin' through the park every day.
Come what may, every day, ooh

My my my my my, my babe.
I'm gonna leave you, go away...
... Oh I miss you, baby

It was really, really good.
You made me happy every single day.
But now... I've got to go away! Oh, oh, oh.

Baby, baby, baby
That's when it's callin' me
I said that's when it's callin' me back home... 

-->

</body>
</html>

